# Section 1.4 Using and Converting Units

1.1 1 in. = 2.54 cm; (a) Find km in 1 mi, (b) ft in 1 km

a)

$$\begin{align}
1~\text{mile} &= 1~\text{mile} \left(\frac{5280~\text{ft}}{1~\text{mile}}\right) \left(\frac{12~\text{in}}{1~\text{ft}}\right) \left(\frac{2.54~\text{cm}}{1~\text{in}}\right) \left(\frac{1~\text{m}}{100~\text{cm}}\right) \left(\frac{1~\text{km}}{1000~\text{m}}\right) \\
&= 1.609344~\text{km}
\end{align}$$

In [2]:
mi_to_ft(x) = x * 5280
ft_to_in(x) = x * 12
in_to_cm(x) = x * 2.54
cm_to_m(x) = x / 100
m_to_km(x) = x / 1000

miles = 1
feet = mi_to_ft(miles)
inches = ft_to_in(feet)
cm = in_to_cm(inches)
m = cm_to_m(cm)
km = m_to_km(m)

1.609344

b)

$$\begin{align}
1~\text{km} &= 1~\text{km} \left(\frac{1000~\text{m}}{1~\text{km}}\right) \left(\frac{100~\text{cm}}{1~\text{m}}\right) \left(\frac{1~\text{in}}{2.54~\text{cm}}\right) \left(\frac{1~\text{ft}}{12~\text{in}}\right) \\
&\approx 3280.8399~\text{ft}
\end{align}$$

In [5]:
km_to_m(x) = x * 1000
m_to_cm(x) = x * 100
cm_to_in(x) = x / 2.54
in_to_ft(x) = x / 12

km = 1
m = km_to_m(km)
cm = m_to_cm(m)
inches = cm_to_in(cm)
feet = in_to_ft(inches)

3280.839895013123